server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: "always"
      probes:
        enabled: true # Active liveness/readiness pour K8s/Docker